**/node_modules
**/dist
**/release
**/android
artifacts
.tmp
browser-tmp
android-native/.gradle
android-native/app/build
.git
.env
**/*.db*
backups
**/*.before-http-fix

**/.desktop-public
client/electron/config.json
client/electron-builder.windows.json
